.HeaderDescription {
    background: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

.HeaderDescription h3 {
    margin: 0;
    padding: 5px;
    text-align: center;
    font-family: Bradley Hand, cursive;
    font-size: 15px;
    color: #ccc9e0;
}

@media (max-width:500px) {
    .HeaderDescription h3 {
        font-size: 10px;
    }
}