.Footer {
    margin-top: 15px;
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.Footer h3 {
    padding: 0 5px;
    text-align: center;
    font-family: Bradley Hand, cursive;
    font-size: 20px;
    color: #26060e;
}